# Ignorar los node modules
node_modules

#Ignorar el test de la API - EndPoitns Clientes
test clientes.http

# #Ignorar el test de la API - EndPoitns Rentas
test rentas.http

#Workspace VSC
Despliegue.code-workspace